
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <!--MAIN CONTAINER-->
    <div class="container-fluid app">
        <div class="row">
            
            <!--CHANNELS-->
            <div style="height: 100vh;" class="col s0 m0 l2 sidebg">
                <div id="channels">
                    <!--nav-->
                    <div class="nav">

                    </div>

                </div>
            </div>

            <!--CHAT-->
            <div style="height: 100vh;" class="col s12 m10 l8">
                <div id="chat">
                    <!--nav-->
                    <div class="nav">

                    </div>

                    <div class="togrid">
                        <!--messages-->
                        <div class="container-msg">
                            <ul id="messages">
                                <li class="message">
                                    <div class="message-avatar"><i>W</i></div>
                                    <div class="message-container">
                                        <div>
                                            <span class="message-author">Winston</span>
                                            <span class="dot noselect">·</span>
                                            <span class="message-timestamp">BOT</span>
                                            <span class="message-flag">🤖</span>
                                        </div>
                                        <div class="message-content"><p data-translate="winston.message">This is a test message.</p><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quae explicabo earum a perferendis deleniti quibusdam saepe mollitia voluptatem expedita velit corrupti repudiandae maiores sint, repellendus esse? Sunt, similique dignissimos?</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!--textarea-->
                        <form class="textarea-form">
                            <div class="row">
                                <div style="margin: 1rem 2rem 0rem 2rem !important" class="input-field">
                                    <textarea id="textarea" type="submit" name="message" class="materialize-textarea validate valid ta-input"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--USERS-->
            <div style="height: 100vh;" class="col s0 m2 l2 sidebg">
                <div id="users">
                    <!--nav-->
                    <div class="nav">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/jwt-decode.min.js"></script>
    <script type="text/javascript" src="js/chat.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
