* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

/* Helpers */
/*materialize css icons */.material-icons { font-family: 'Material Icons' !important; }
/*disable clicks*/.noclickable {pointer-events: none;}
/*disable selects*/.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*font-weight to lighter*/.lighter {font-weight: lighter !important;}

:root {
    --pad: 15px /*for padding style*/
}

body {
    background-color: gray;
    color: #dcddde;
}
body, html {
    height: 100%;
    font-size: 15px;
}

/* app */ 
.app {
    height: 100vh;
    background-color: #373740 /*#8994ae*/
}
.app .row, .app .row > * {
    margin: 0;
    padding: 0;
}

.sidebg {
    background-color: rgba(0,0,0,0.25);
}

/* sections */
#channels, #chat, #users {
    position: relative;
    top:0; bottom: 0;
    width: 100%;
    height: 100%;
}

/* sections nav */
#channels .nav, #chat .nav, #users .nav{
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    position: relative;
}
#channels .nav::after, #chat .nav::after, #users .nav::after {
    content: "";
    position: absolute;
    height: calc(100% + 1px);
    width: 100%;
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

/* message container */
.togrid {
    display: grid;
    position: absolute;
    bottom: 0;
    top: 60px;
    grid-template-rows: minmax(0px, 100%);
}

.container-msg ul {
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    padding: var(--pad) calc(var(--pad) * 2);
}

    /* message style */
    .message {
        margin: var(--pad) 0;
    }
    .message-avatar {
        position: relative;
        float: left;
        width: 50px;
        height: 50px;
        background-color: rgba(0,0,0,0.1);
        border-radius: 50%;
        text-align: center;
    }
    .message-avatar img{
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }
    .message-avatar i {
        width: inherit;
        height: inherit;
        font-style: normal;
        font-size: 30px;
        line-height: 50px;
    }

    .message-container {
        margin-left: 75px;
    }
    .message-author {
        font-size: 1.25rem;
        margin: 0;
        padding: 0;
    }
    .message-timestamp {
        font-size: 0.9rem;
        
    }
    .dot{
        margin: 0 calc(var(--pad) * 0.5);
        color: rgba(255,255,255,0.25);
        
    }
    .message-flag {
        margin: 0 calc(var(--pad) * 0.75);
        font-size: 0.9rem
    }

    .message-content * {
        padding: 0;
        margin: 0;
    }

/* textarea */
.textarea-form {
    left: 0; right: 0;
    bottom: 0;
    box-shadow: 0 -2px 2px -2px rgba(0,0,0,0.25);
    border-radius: 1px 1px 0 0;
    border-top: 1px solid rgba(255,255,255,0.05);
    width: 100%;
}

.ta-input { /* textarea-input */
    background: rgba(200,200,200,0.15) !important;
    border-radius: 3px !important;
    padding: var(--pad) !important;
    color: #dcddde !important;
    max-height: 151px !important;
}

/* #channels{

}

#chat{

}

#users{

} */


/*Tablet*/
@media only screen and (max-width: 992px){ 
    /*helper*/.m0 { display: none; }


}

/*Mobile*/
@media only screen and (max-width: 600px){
    /*helper*/.s0 { display: none; }
    /*fix*/.container.smll { width: 100%; }
    :root {
        --pad: 10px /*for padding style*/
    }
}