<!-- CONFIG -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noodp"/>
<meta property="og:type" content="website"/>
<meta name="twitter:card" content="summary"/>
<meta name=”distribution” content=”global”/>
<link rel="canonical" href="URL"/> <!--url-->
<meta property="og:url" content="URL"/> <!--url-->
<meta property="og:image" content="IMAGEN"/> <!--imageurl-->

<!-- CREDITS -->
<meta name="author" content="Mike Reinstein">
<meta name="contributors" content="Enzo Diaz">

<!-- MATERIALIZE CSS -->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" />
<!-- GOOGLE ICONS --> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- GOOGLE FONTS --> 
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

<!-- TITLE -->
<title><%= title %></title>
<meta property="og:title" content="<%= title %>"/>
<meta property="og:site_name" content="<%= title %>"/>
<meta name="twitter:title" content="<%= title %>"/>

<!-- DESCRIPTION -->
<meta name="description" content="Universal Translator for Twinoides">
<meta property="og:description" content="Universal Translator for Twinoides"/>
<meta name="twitter:description" content="Universal Translator for Twinoides"/>

<!-- RESOURCES -->
<link rel="icon" href="resources/favicon.png">
<link href="css/main.css" rel="stylesheet">